<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/resume.html' | relative_url }}">Resume</a></li>
            <li><a href="{{ '/contact.html' | relative_url }}">Contact</a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <main>
        {{ content }}
    </main>
</body>
</html>