<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!---<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">--->
    <link rel="preload" href="{{ '/assets/css/styles.css' | relative_url }}" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}"></noscript>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    {% seo %}
<!---    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> --->
</head>
<!---
<div id="preloader">
    <div class="loader"></div>
</div>
-->
<body>
    {% include navigation.html %}
    <script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>
    <div class="container">{{ content }}</div>
    
</body>
<footer class="footer">
    <div class="footer-content"></div>
    <a href="mailto:mathieudabrowski@outlook.com" class="footer-link" title="Email">
        <img id="mail-logo" src="{{ '/assets/images/mail_dark.png' | relative_url }}" alt="Email" class="footer-icon">
    </a>
    <a href="https://github.com/mathieudabrowski" class="footer-link" title="GitHub">
        <img id="github-logo" src="{{ '/assets/images/github_dark.png' | relative_url}}" alt="GitHub" class="footer-icon">
    </a>
    </a>
    <a href="https://fr.linkedin.com/in/mathieu-dabrowski-bb6503239" class="footer-link" title="Linkedin">
        <img id="linkedin-logo" src="{{ '/assets/images/linkedin_dark.png' | relative_url}}" alt="Linkedin" class="footer-icon">
    </a>
    </div>
    <div class="footer-text">
        <p><!---&copy---> <span id="year"></span> Mathieu Dabrowski</p>
        <!--- <p><a href="/privacy.html">Privacy Policy</a> | <a href="/terms.html">Terms of Service</a></p> --->
    </div>
</footer>

</html>